<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!--IMPORTANT: Make sure you add the configSections node to your config file so that the rest of the config file is picked by the application-->
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="PayPalServiceUrl" value="api.sandbox.paypal.com" />
      <add name="PayPalAccount" value="orders-facilitator@zcush.com" />
      <add name="mode" value="sandbox" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />
      <add name="clientId" value="AR877BBrua3MtkDGOqDgQ-qBV1rZeuwXG-fjWFzdlaapt1wFtSQ9p1Rwg9l6" />
      <add name="clientSecret" value="EFFj6hD1xU-GWglVTiE8JX3uuCGB2lBsYsxpXbSxiZb4-ClKv7zM3OvEfn0j" />
      
      <!-- FOR CLASSIC API-->
      <!-- The URL that the user must be redirected to in order to login and approve some payment actions-->
      <add name="paypalUrl" value="https://www.sandbox.paypal.com/webscr?cmd=" />
      <!-- The API endpoint -->
      <add name="endpoint" value="https://api-3t.sandbox.paypal.com/2.0" />
      <add name="IPNEndpoint" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
      <!--<add name="PayPalAPIAA" value="https://api-3t.sandbox.paypal.com/2.0"/>-->
      <!--<add name="PayPalAPI" value="https://api-3t.sandbox.paypal.com/2.0"/>-->
      <!-- Connection timeout in milliseconds -->

      <!--Host Url-->
      <add name="HostingEndpoint" value="http://localhost:3089" />
      <!--LocalTunnel Host Url-->
      <add name="IPNListenerUrl" value="https://paypalipntomato.pagekite.me/IPNListener.aspx" />

      <add name="connectionTimeout" value="360000" />
      <!-- The number of times a request must be retried if the API endpoint is unresponsive -->
      <!--<add name="requestRetries" value="3"/>-->
      <add name="IPAddress" value="127.0.0.1" />
    </settings>
    <accounts>
      <account apiUsername="orders-facilitator_api1.zcush.com" apiPassword="GQXD2BTC97AKGJ7W" applicationId="APP-80W284485P519543T" apiSignature="AQmIeJZzDuoSF0nJAVQ6H4hXPqRmA8omPKVAW61zNCFIsdSPKPZEPUJF" />
      <!--<account apiUsername="certuser_biz_api1.paypal.com" apiPassword="D6JNKKULHN3G5B8A" applicationId="APP-80W284485P519543T"
               apiCertificate="C:\PayPal_SDKs\sdk-core-dotnet\UnitTest\Resources\sdk-cert.p12" privateKeyPassword="password"/>-->
    </accounts>
  </paypal>
  <system.web>
    <identity impersonate="true" />
    <authentication mode="Windows" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
