<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="PayPalServiceUrl" value="api.paypal.com" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <add name="PayPalAccount" value="orders@zcush.com" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <add name="mode" value="live" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />
      <add name="clientId" value="AZmFDRBjNdXGebckti5IVeVJN3nya-Cy_l8YfVOmlgbnlMn_3ltTtQo6jWnq" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="clientSecret" value="ELpq6xDdDHAj9rmbMGugUZ1cuzsHNw9WagCsf7ayEzRxNdzefoSQtkV88X5l" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

      <!-- FOR CLASSIC API-->
      <!-- The URL that the user must be redirected to in order to login and approve some payment actions-->
      <add name="paypalUrl" value="https://www.paypal.com/webscr?cmd=" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <!-- The API endpoint -->
      <add name="endpoint" value="https://api-3t.paypal.com/2.0" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <add name="IPNEndpoint" value="https://www.paypal.com/cgi-bin/webscr" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <!-- Connection timeout in milliseconds -->

      <!--Host Url-->
      <add name="HostingEndpoint" value="http://localhost:3089" />
      <!--LocalTunnel Host Url-->
      <add name="IPNListenerUrl" value="https://paypalipntomato.pagekite.me/IPNListener.aspx" />

      <add name="connectionTimeout" value="360000" />
      <!-- The number of times a request must be retried if the API endpoint is unresponsive -->
      <!--<add name="requestRetries" value="3"/>-->
      <add name="IPAddress" value="127.0.0.1" />
    </settings>
    <accounts>
      <account apiUsername="orders_api1.zcush.com" apiPassword="8VCMU5UD4CUXC3SN" applicationId="APP-80W284485P519543T" apiSignature="A5ejOq8IIk5B1rjx8QMCuKUpi8CEA-eeHE1runsfCAdC1y6mjjoEHS.h"  xdt:Transform="SetAttributes" xdt:Locator="Match(applicationId)"  />
      <!--<account apiUsername="certuser_biz_api1.paypal.com" apiPassword="D6JNKKULHN3G5B8A" applicationId="APP-80W284485P519543T"
               apiCertificate="C:\PayPal_SDKs\sdk-core-dotnet\UnitTest\Resources\sdk-cert.p12" privateKeyPassword="password"/>-->
    </accounts>
  </paypal>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
